<ion-view view-title="Travels" ng-init="allTravels()">
  <ion-content>
    <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
    </ion-refresher>
    <div class="button-bar">
      <a class="button button-full" href="#/tab/travels-new">New</a>
      <a class="button button-full" href="#/tab/travels-archive">My travels</a>
      <a class="button button-full" href="#/tab/travels-joined">Joined</a>
    </div>
	<!--
    <pre>Sorting predicate = {{predicate}}; reverse = {{reverse}}</pre>
    <hr/>
    <button ng-click="predicate=''">Set to unsorted</button>
    -->
    
    <list-travels></list-travels>

  </ion-content>
</ion-view>
